/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* debug */

/* [class*="col"] {
    height: 150px;
    background: yellow;
    border: 2px solid black;
}

section {
    margin: 100px 0;
} */

/* main */

/* bg games section  */

.bg-games {
    color: white;
}

.bg-games .bg-game {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.returnal-logo img {
    width: 50%;
}

.bg-games .text h2 {
    margin: 25px 0;
    font-size: 38px;
}

.bg-games .text p {
    font-weight: 600;
}

.bg-games .btn {
    width: 120px;
    padding: 10px;
    margin: 30px 0 55px 0;
    text-align: center;
    background-color: #cd3d0f;
    border-radius: 28px;
}

.bg-games .games {
    margin-top: 30px;
}

.game-img img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.games .border-img {
    border: 2px solid #0072ce;
    border-radius: 15px;
    padding: 2px;
}




/* ecco ps5 */

#ecco-ps5 {
    margin: 120px auto 30px auto;
}

#ecco-ps5 .title {
    margin-bottom: 80px;
}

#ecco-ps5 h6 {
    color: #0072ce;
    font-weight: 600;
}

#ecco-ps5 h2 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 30px;
}

#ecco-ps5 span {
    color: #727272;
    font-size: 25px;
    font-weight: 600;
}

#ecco-ps5 .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ps5-item-img {
    width: 100%;
}

#ecco-ps5 .btn {
    width: 200px;
    padding: 10px;
    margin: 30px 0 55px 0;
    text-align: center;
    background-color: #2d64e6;
    border-radius: 28px;
}
#ecco-ps5 .item {
    text-align: center;
    margin-top: 20px;
}

#ecco-ps5 .item-border-bottom {
    border-bottom: 2px solid #2d64e6;
    padding-bottom: 30px;
}

.margin120px {
    margin-bottom: 120px;
}

#ecco-ps5 .item .item-img img {
    width: 100%;
}

#ecco-ps5 .item span {
    font-size: 19px !important;
}










/* media query */

@media all and (max-width: 991px) {

    /* ecco ps5 */
    .item span {
        font-size: 15px !important;
    }

}




@media all and (max-width: 767px) {

    /* bg games section  */
    .returnal-logo img {
        width: 70%;
    }

    /* ecco ps5 */
    #ecco-ps5 span {
        font-size: 20px;
    }




    .on-mobile-display-none {
        display: none;
    }



}

@media all and (max-width: 575px) {

   /* bg games section  */
    .returnal-logo img {
        width: 70%;
    }

    /* ecco ps5 */
    #ecco-ps5 .title {
        margin-bottom: 50px;
    }

    #ecco-ps5 span {
        font-size: 15px;
    }

    #ecco-ps5 h2 {
        font-size: 30px;
    }





    .on-mobile-display-none {
        display: none;
    }



}