/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

.my-btn a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}


/* hover */

#ecco-ps5 .item .item-img img:hover {
    opacity: 1;
}


/* debug */

/* [class*="col"] {
    height: 150px;
    background: yellow;
    border: 2px solid black;
}

section {
    margin: 100px 0;
} */

/* fine debug */




/* main */

/* bg games section  */

.bg-games {
    color: white;
}

.bg-games .bg-game {
    background-image: url("../img/jumbo-bg.png");
    justify-content: flex-end;
}

.bg-game {
    background-position: center;
    background-size: cover;
    height: 675px;
    display: flex;
    flex-direction: column;
}

.returnal-logo img {
    width: 50%;
}

.bg-game .text h2 {
    margin: 25px 0;
    font-size: 41px;
}

.bg-game .text p {
    font-weight: 600;
}

.bg-game .my-btn {
    width: 120px;
    padding: 10px;
    margin: 30px 0 55px 0;
    text-align: center;
    background-color: #cd3d0f;
    border-radius: 28px;
}

.bg-games .games {
    margin-top: 30px;
}

.game-img img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.games .border-img {
    border: 2px solid #0072ce;
    border-radius: 15px;
    padding: 2px;
}




/* ecco ps5 */

#ecco-ps5 {
    margin: 120px auto 60px auto;
}

#ecco-ps5 .row.text-center,
#ps4-explore .row.text-center {
    margin-bottom: 80px;
}

#ecco-ps5 h6 {
    color: #0072ce;
    font-weight: 600;
}

.title h2 {
    font-size: 44px;
    margin-bottom: 25px;
}

.title span {
    color: #727272;
    font-size: 23px;
}


#ecco-ps5 .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ps5-item-img {
    width: 100%;
}

#ecco-ps5 .my-btn,
#ps4-explore .my-btn {
    width: 200px;
    padding: 10px;
    margin: 30px 0 55px 0;
    text-align: center;
    background-color: #2d64e6;
    border-radius: 28px;
}
#ecco-ps5 .item {
    text-align: center;
    margin-top: 20px;
}

#ecco-ps5 .item-border-bottom {
    border-bottom: 2px solid #2d64e6;
    padding-bottom: 30px;
}

.margin120px {
    margin-bottom: 120px;
}

#ecco-ps5 .item .item-img img {
    width: 100%;
    opacity: 0.7;
}

#ecco-ps5 .item span {
    font-size: 19px;
    color: #727272;
}




/* it takes two */

#it-takes-two {
    color: white;
}

#it-takes-two .bg-game {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    justify-content: space-around;
}

.it-takes-two-logo img {
    width: 70%;
}




/* new releases */

#new-releases {
    background-color: #1f1f1f;
    color: white;
    padding-bottom: 35px;
}

#new-releases h3{
    margin: 25px 0;
}

#new-releases h4 {
    margin-bottom: 30px;
}

#new-releases .item-img {
    margin-bottom: 10px;
}

#new-releases .item-img img {
    width: 100%;
    border-radius: 25px;
}

#new-releases span {
    color: white;
}

#new-releases .col {
    margin-bottom: 50px;
}




/* ps4-explore */

#ps4-explore {
    margin-top: 80px;
}

#ps4-explore .title h2 {
    margin-bottom: 19px;
}

#ps4-explore .item-img img {
    width: 100%;
}

.small-my-btn {
    width: 120px !important;
}







/* media query */

@media all and (max-width: 991px) {

    /* ecco ps5 */
    #ecco-ps5 .item span {
        font-size: 15px;
    }

    /* it takes two */
    .it-takes-two-logo img {
        width: 60%;
    }


}




@media all and (max-width: 767px) {

    /* bg games section  */
    .returnal-logo img {
        width: 70%;
    }

    /* ecco ps5 */
  

    .on-mobile-display-none {
        display: none;
    }



}

@media all and (max-width: 575px) {

   /* bg games section  */
    .returnal-logo img {
        width: 70%;
    }


    .on-mobile-display-none {
        display: none;
    }



}